$themes: (
  light: (
    background_default: #FFFFFF,
    background_secondary: #F5F6FA,
    font_color_default: #7f808c,
    font_color_title: #242939,
    primary: #000000,
    input_background: #EDEEF6,
    text_muted: #e8eaec,
  ),
  dark: (
    background_default: #29242A,
    background_secondary: #2F2A30,
    font_color_default: #a7a7a7,
    font_color_title: #ffffff,
    primary: #2d8cf0,
    input_background: #2d3238,
    text_muted: #4c4e50,
  ),
  vip: (
    background_default: #36373B,
    background_secondary: #2F2A30,
    font_color_default:#ffeddb,
    font_color_title: #f6ca9d,
    primary: #f6ca9d,
    input_background: #2d3238,
    text_muted: #4c4e50,
  )
);
