$bg: #29242A;
$subBg: #2F2A30;
$fontColor: #a7a7a7;
$fontTitle: #ffffff;
$primary: #2d8cf0;

body {
  margin: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.6;
  color: $fontColor;
  text-align: left;
  background-color: $bg;
}

.text-input input {
  border: none;
  display: block;
  width: 100%;
  height: calc(1.6em + 1.375rem + 2px);
  padding: .6875rem 1.0625rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.6;
  color: #a7a7a7;
  background-color: #2d3238;
  background-clip: padding-box;
  border: 1px solid #2d3238;
  border-radius: .375rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.ivu-input:focus, input:focus, textarea:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.ivu-input-wrapper-large .ivu-input-prefix i, .ivu-input-wrapper-large .ivu-input-suffix i {
  line-height: 48px;
}

.font-title {
  font-weight: 800;
  color: $fontTitle;
  margin-bottom: 0.25rem;
}

.mb-6 {
  margin-bottom: 1.25rem!important;
}

/**
 * login and register
 */
.login-card {
  max-width: 23rem;
  margin: 15% auto 0;

  .font-title {
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  input {
    margin-bottom: 1.25rem;
  }
}

/**
 * home
 */
 
.home {
  height: 100vh;

  .left-col, .center-col, .right-col {
    float: left;
    height: 100vh;
    padding: 20px;
  }
  
  .left-col {
    width: 70px;

    .logo {
      font-size: 2rem;
      margin: 0 0 150px 0 !important;
      font-weight: 800;
      font-family: cursive;
      color: #2b85e4;
    }

    .bar-icon {
      text-align: center;
      margin: 3rem 0;
      cursor: pointer;

      i {
        font-size: 1.5rem;
      }
    }
    .bar-icon:hover {
      color: $primary;
    }
    .active {
      color: $primary;
    }
  }

  .center-col {
    height: 100vh;
    width: 420px;
    background-color: $subBg;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .center-col::-webkit-scrollbar {
    width: 0;
  }

  .right-col {
    width: calc(100% - 70px - 420px);
    padding: 0 20px;
  }

  @media screen and (max-width: 567px) {
    .left-col {
      background-color: $bg !important;
      position: fixed;
      bottom: 0;
      z-index: 1;
      height: 61px;
      width: 100%;

      .logo {
        display: none;
      }

      .bar-icon {
        float: left;
        width: 25%;
        margin: 0;

        i {
          font-size: 1.5rem;
        }
      }
    }

    .center-col {
      width: 100%;
      padding-bottom: 61px;
    }
    .center-col::-webkit-scrollbar {
      width: none !important;
    }

    .right-col {
      position: absolute;
      z-index: -1;
    }
    .right-col-active {
      background-color: $bg;
      z-index: 100 !important;
      width: 100%;
    }
  }
}

/**
 * component
 */
.component {

  .list-item {
    background-color: $bg;
    border-radius: .375rem;
    padding: 20px;
    border-bottom: none !important;

    .nick {
      color: $fontTitle;
      font-weight: 600;
      font-size: 0.9rem;
      position: relative;
  
      small {
        color: $fontColor;
        position: absolute;
        right: 0;
      }
    }
  
    .description {
      color: $fontColor;
    }

    .ivu-avatar {
      font-size: 16px !important;
    }
  }

  .profile-box {
    background-color: $bg;
    border: 1px solid $bg;
    padding: 20px;
    border-radius: 10px;

    .ivu-avatar-large {
      width: 92px;
      height: 92px;
      line-height: 92px;
      border-radius: 50%;
    }

    .nick {
      color: $fontTitle;
      font-size: 18px;
    }
  }

  .footer-bottom {
    background-color: $bg;
    padding: 20px;
    color: $fontTitle;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;

    .ivu-icon {
      float: right;
      color: $fontTitle !important;
    }
  }
  .footer-bottom:hover {
    background-color: #151215;
  }
}

/**
 * message
 */
.message {

  .header {
    height: 72px;
    border-bottom: 1px solid $subBg;

    .back {
      display: none;
    }

    .header-bar {
      margin-left: 0;
    }

    .nick {
      color: $fontTitle;
      font-weight: 600;
      font-size: 0.9rem;
      position: relative;
    }
  
    .description {
      color: $fontColor;
    }

    .search-icon {
      font-size: 20px;
      color: $fontColor;
    }
    .search-icon:hover {
      color: $fontTitle;
    }
  }

  .content {
    height: calc(100vh - 73px - 73px);
  }

  .footer {
    height: 72px;
    line-height: 72px;
    border-top: 1px solid $subBg;

    .textarea-box, .send-box {
      float: left;
    }

    .send-box {
      width: 40px;
    }

    .textarea-box {
      margin-right: 20px;
      margin-top: 15px;
      width: calc(100% - 60px);

      .ivu-input-group {
        background-color: #2D3238;
        border-radius: 5px;
      }

      textarea, input, .ivu-input-group-append {
        background-color: transparent !important;
        border: none !important;
      }
      textarea, input, .ivu-input-group-append span {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 567px) {
    .header {
      text-align: center;

      .back {
        display: block !important;
        position: absolute;
        height: 72px;
        line-height: 72px;
      }
      .header-bar {
        margin-left: 20px !important;
      }
      .avatar {
        display: none;
      }
    }
  }
}
