@import './themes';

// 遍历主题map
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
        @content;
    }
  }
}

// 获取key
@function themed($key) {
  @return map-get($theme-map, $key);
}

body {
  margin: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  @include themeify {
    background-color: themed("background_default");
    color: themed('font_color_default');
  }
}

.text-input input {
  border: none;
  display: block;
  width: 100%;
  height: calc(1.6em + 1.375rem + 2px);
  padding: .6875rem 1.0625rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.6;
  background-clip: padding-box;
  border-radius: .375rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

  @include themeify {
    color: themed('font_color_default');
    background-color: themed('input_background');
    border: 1px solid themed('input_background');
  }
}

.ivu-input:focus, input:focus, textarea:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.ivu-input-wrapper-large .ivu-input-prefix i, .ivu-input-wrapper-large .ivu-input-suffix i {
  line-height: 48px !important;
}

.font-title {
  font-weight: 800;
  margin-bottom: 0.25rem;

  @include themeify {
    color: themed('font_color_title');
  }
}

.mb-6 {
  margin-bottom: 1.25rem!important;
}

.button-group {
  height: 57px !important;
  border-radius: 5px;
  padding: 0 5px;

  @include themeify {
    background-color: themed('input_background');
  }

  .button {
    height: 47px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 47px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .active {
    @include themeify {
      background-color: themed('background_default');
    }
  }
}

/**
 * login and register
 */
.login-card {
  max-width: 23rem;
  margin: 15% auto 0;
  padding: 0 10px;

  .font-title {
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  input {
    margin-bottom: 1.25rem;
  }
}

/**
 * home
 */
.home {
  height: 100vh;

  .left-col, .center-col, .right-col {
    float: left;
    height: 100vh;
    padding: 20px;
  }
  
  .left-col {
    width: 70px;

    .logo {
      font-size: 2rem;
      margin: 0 0 150px 0 !important;
      font-weight: 800;
      font-family: cursive;
      @include themeify {
        color: themed('primary');
      }
    }

    .bar-icon {
      text-align: center;
      margin: 3rem 0;
      cursor: pointer;

      i {
        font-size: 1.5rem;
      }
    }
    .bar-icon:hover {
      @include themeify {
        color: themed('primary');
      }
    }
    .active {
      @include themeify {
        color: themed('primary');
      }
    }
  }

  .center-col {
    height: 100vh;
    width: 420px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    @include themeify {
      background-color: themed('background_secondary');
    }
  }

  .center-col::-webkit-scrollbar {
    width: 0;
  }

  .right-col {
    width: calc(100% - 70px - 420px);
    padding: 0 20px;
  }

  @media screen and (max-width: 567px) {
    .left-col {
      position: fixed;
      bottom: 0;
      z-index: 1;
      height: 61px;
      width: 100%;
      @include themeify {
        background-color: themed('background_default') !important;
      }

      .logo {
        display: none;
      }

      .bar-icon {
        float: left;
        width: 25%;
        margin: 0;

        i {
          font-size: 1.5rem;
        }
      }
    }

    .center-col {
      width: 100%;
      padding-bottom: 61px;
    }
    .center-col::-webkit-scrollbar {
      width: none !important;
    }

    .right-col {
      position: absolute;
      z-index: -1;
    }
    .right-col-active {
      z-index: 100 !important;
      width: 100%;
      @include themeify {
        background-color: themed('background_default') !important;
      }
    }
  }
}

/**
 * component
 */
.component {

  .list-item {
    border-radius: .375rem;
    padding: 20px;
    border-bottom: none !important;
    cursor: pointer;
    @include themeify {
      background-color: themed('background_default');
    }

    .nick {
      @include themeify {
        color: themed('font_color_title');
      }
      font-weight: 600;
      font-size: 0.9rem;
      position: relative;
      @include themeify {
        color: themed('font_color_title');
      }
  
      small {
        position: absolute;
        right: 0;
        @include themeify {
          color: themed('font_color_default');
        }
      }
    }
  
    .description {
      @include themeify {
        color: themed('font_color_default');
      }
    }

    .ivu-avatar {
      font-size: 16px !important;
    }
  }

  .profile-box {
    padding: 20px;
    border-radius: 10px;
    @include themeify {
      background-color: themed('background_default');
      border: 1px solid themed('background_default');
    }

    .ivu-avatar-large {
      width: 92px;
      height: 92px;
      line-height: 92px;
      border-radius: 50%;
    }

    .nick {
      font-size: 18px;
      @include themeify {
        color: themed('font_color_title');
      }
    }
  }
}

.setting {
  .footer-bottom {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    @include themeify {
      background-color: themed('background_default');
      color: themed('font_color_title');
    }

    .ivu-icon {
      float: right;
      @include themeify {
        color: themed('font_color_title') !important;
      }
    }
  }
  .footer-bottom:hover {
    @include themeify {
      background-color: themed('input_background');
    }
  }
}

/**
 * message
 */
.message {

  .header {
    height: 72px;
    @include themeify {
      border-bottom: 1px solid themed('background_secondary');
    }

    .back {
      display: none;
    }

    .header-bar {
      margin-left: 0;
    }

    .nick {
      font-weight: 600;
      font-size: 0.9rem;
      position: relative;
      @include themeify {
        color: themed('font_color_title');
      }
    }
  
    .description, .search-icon {
      @include themeify {
        color: themed('font_color_default');
      }
    }

    .search-icon {
      font-size: 20px;
    }
    .search-icon:hover {
      @include themeify {
        color: themed('font_color_title');
      }
    }
  }

  .content {
    height: calc(100vh - 73px - 73px);
  }

  .footer {
    height: 72px;
    line-height: 72px;
    @include themeify {
      border-top: 1px solid themed('background_secondary');
    }

    .textarea-box, .send-box {
      float: left;
    }

    .send-box {
      width: 40px;
    }

    .textarea-box {
      margin-right: 20px;
      margin-top: 15px;
      width: calc(100% - 60px);

      .ivu-input-group {
        border-radius: 5px;
        @include themeify {
          background-color: themed('input_background');
        }
      }

      textarea, input, .ivu-input-group-append {
        background-color: transparent !important;
        border: none !important;
      }
      textarea, input, .ivu-input-group-append span {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 567px) {
    .header {
      text-align: center;

      .back {
        display: block !important;
        position: absolute;
        height: 72px;
        line-height: 72px;
      }
      .header-bar {
        margin-left: 20px !important;
      }
      .avatar {
        display: none;
      }
    }
  }
}
